:root {
    /*For Gradient*/
    --darkpurple: #4E4376;
    --gradiantteal: #3B4E76;
    --darkteal: #2b5876;
    /*For Backgrounds*/
    --darkgrey: #121212;
    --containergrey: #2b2b2b;
    --filtergrey: #737272;
    /*For Text*/
    --hoverblue: #30bdf4;
    --activepurple: #4e4376;
    --textwhite: #e0d7d7;
    --iconpurple: #A0A3BD;

    --dark-boxshadow: 5px 5px 15px -1px rgba(0,0,0,0.8);
    --light-boxshadow: 5px 5px 15px -1px rgba(57, 55, 55, 0.8);
}

.gradient {
    background: linear-gradient(90deg, rgba(78,67,118,1) 0%, rgba(59,78,118,1) 82%, rgba(43,88,118,1) 100%);
}

.lg-font {
    font-size: 40px;
}

body {
    background-color: var(--darkgrey);
    color: var(--textwhite);
}

nav {
    background-color: var(--containergrey)
}

nav a {
    color: var(--textwhite);
}

a:hover {
    color: var(--hoverblue) !important;
}

a:active {
    color: var(--activepurple) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,67,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,189,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbotron {

    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url("/images/pexels-snapwire-46024.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pet-index-listing, #volunteer-index-listing {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.index-card {
    border-radius: 25px;
    width: 150px;
    padding-left: 0;
    padding-right: 0;
    margin: 10px;
    height: 350px;
    box-shadow: var(--dark-boxshadow);
}

.listing-img {
    border-radius: 25px 25px 0 0;
    height: 200px;
    width: 100%
}

.text-container {
    padding: 5px;
}

.button-container {
    position: absolute;
    bottom: -15px;
    left: 43px;
}

.registration-card {
    margin-top: 50px;
    box-shadow: var(--dark-boxshadow);
    border-radius: 25px;
}

.registration-body {
    padding: 50px;
}

.dark-form {
    margin-top: 10px;
    border-color: var(--containergrey);
    background: var(--containergrey);
    box-shadow: var(--light-boxshadow);
}


.form-control:focus{
    border-color: #f0f3f0;  box-shadow: none; -webkit-box-shadow: none;
    background: var(--darkteal);
}

.profile-container {
    display: grid;
    width: 90%;
}

.profile-picture {
    border-radius: 50%;
    border: var(--textwhite) 3px none;
}

.listing-container {
    width: 90%
}

@media only screen and (min-width: 768px) {
    .button-container {
        position: absolute;
        bottom: -15px;
        left: 90px;
    }
}

@media only screen and (min-width: 992px) {
    .button-container {
        position: absolute;
        bottom: -15px;
        left: 43px;
    }

    .login-size {
        width: 50%;
        margin-bottom: 80px;
    }

    .profile-container {
        display: grid;
        width: 30%;
    }

    .listing-container {
        width: 50%
    }
}